@tailwind base;
@tailwind components;
@tailwind utilities;

/* Classroom Projector Optimizations */
@layer base {
  body {
    @apply bg-slate-950 text-slate-100 antialiased overflow-hidden select-none;
  }
}

/* Failsafe to prevent any double rendering of MathML alongside KaTeX HTML */
.katex-mathml {
  display: none !important;
}

/* Custom animations and styling */
.glow-brand {
  box-shadow: 0 0 35px -5px rgba(99, 102, 241, 0.35);
}

.glow-emerald {
  box-shadow: 0 0 35px -5px rgba(16, 185, 129, 0.35);
}

.glow-rose {
  box-shadow: 0 0 35px -5px rgba(244, 63, 94, 0.35);
}

/* Animasi Sinar Laser Scanner Kasir */
@keyframes laser-sweep {
  0% {
    top: 5%;
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 95%;
    opacity: 0.2;
  }
}

.animate-laser-sweep {
  animation: laser-sweep 1.2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

